################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore local development configuration
appsettings.Development.json

# Build and user-specific files
bin/
obj/
.vs
.vscode/
*.user
*.suo

# VS Code debug log
.vscode/launch.json
.vscode/tasks.json

# Docker artifacts 
**/docker-compose.override.yml
**/docker-compose*.yml
/.vs/TaskBoard/CopilotIndices/17.13.449.12402
/.vs/TaskBoard
