################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskBoard/FileContentIndex
/TaskBoard.API/obj/Debug/net8.0/TaskBoard.API.sourcelink.json
/TaskBoard.Application/obj/Debug/net8.0/TaskBoard.Application.sourcelink.json
/TaskBoard.Domain/obj/Debug/net8.0/TaskBoard.Domain.sourcelink.json
/TaskBoard.Infrastructure/obj/Debug/net8.0/TaskBoard.Infrastructure.sourcelink.json
/.vs/TaskBoard/CopilotIndices/17.13.449.12402
/.vs/TaskBoard/CopilotIndices/17.13.449.12402/CodeChunks.db
/.vs/TaskBoard/CopilotIndices/17.13.449.12402/CodeChunks.db-shm
/.vs/TaskBoard/CopilotIndices/17.13.449.12402/CodeChunks.db-wal
/.vs/TaskBoard/CopilotIndices/17.13.449.12402/SemanticSymbols.db
/.vs/TaskBoard/CopilotIndices/17.13.449.12402/SemanticSymbols.db-shm
/.vs/TaskBoard/CopilotIndices/17.13.449.12402/SemanticSymbols.db-wal
/TaskBoard.API/obj/Debug/net8.0
/TaskBoard.API/obj/Debug/net8.0/staticwebassets.removed.txt
/TaskBoard.Tests
/TaskBoard.Tests/bin/Debug/net8.0
/TaskBoard.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_TaskBoard.Tests
/TaskBoard.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_TaskBoard.Tests
/TaskBoard.Tests/obj/Debug/net8.0
/TaskBoard.Tests/obj/Debug/net8.0/TaskBoard.Tests.AssemblyInfo.cs
/TaskBoard.Tests/obj/Debug/net8.0/TaskBoard.Tests.AssemblyInfoInputs.cache
/TaskBoard.Tests/obj/Debug/net8.0/TaskBoard.Tests.csproj.AssemblyReference.cache
/TaskBoard.Tests/obj/Debug/net8.0/TaskBoard.Tests.GeneratedMSBuildEditorConfig.editorconfig
